:root {
  --primary-color-1: #f4f4f7;
  --primary-color-2: #c9cad6;
  --primary-color-3: #68698c;
  --primary-color-4: #27295a;
  --primary-color-5: #1d1f44;
  --primary-color-6: #13142c;

  --secondary-color-1: #fdfff2;
  --secondary-color-2: #f4fec0;
  --secondary-color-3: #e1fc4e;
  --secondary-color-4: #d4fb02;
  --secondary-color-5: #9fbc02;
  --secondary-color-6: #687b01;

  --neutral-color-1: #fff;
  --neutral-color-2: #fafafc;
  --neutral-color-3: #e5e8f0;
  --neutral-color-4: #b7bed5;
  --neutral-color-5: #98a2c3;
  --neutral-color-6: #727a92;
  --neutral-color-7: #4a4f60;

  --success-color-1: #f4fbf7;
  --success-color-2: #c9ebd7;
  --success-color-3: #68c690;
  --success-color-4: #27ae60;
  --success-color-5: #1d8348;
  --success-color-6: #13552f;

  --warning-color-1: #fffaf6;
  --warning-color-2: #fee7d1;
  --warning-color-3: #fcbc7e;
  --warning-color-4: #fa9f47;
  --warning-color-5: #bc7735;
  --warning-color-6: #7b4e23;

  --danger-color-1: #fdf6f6;
  --danger-color-2: #f5d0d0;
  --danger-color-3: #e27b7b;
  --danger-color-4: #d64242;
  --danger-color-5: #a13232;
  --danger-color-6: #692020;

  --color-picker-color-1: #ffc100;
  --color-picker-color-2: #ef7e15;
  --color-picker-color-3: #dd2814;
  --color-picker-color-4: #ea1e66;
  --color-picker-color-5: #b31cd9;
  --color-picker-color-6: #6020c8;
  --color-picker-color-7: #2d45e9;
  --color-picker-color-8: #2f9ced;
  --color-picker-color-9: #1bab9d;
  --color-picker-color-10: #2dc633;
  --color-picker-color-11: #83ce28;
  --color-picker-color-12: #98a2c3;

  --overlay-color: rgba(0, 0, 0, .2);
  --body-text-color: var(--neutral-color-7);
  --heading-color: var(--primary-color-6);
}
