:root {
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 10px;
  --spacing-6: 12px;
  --spacing-7: 14px;
  --spacing-8: 16px;
  --spacing-9: 20px;
  --spacing-10: 24px;
  --spacing-11: 28px;
  --spacing-12: 32px;

  --text-spacing-1: .125em;
  --text-spacing-2: .25em;
  --text-spacing-3: .375em;
  --text-spacing-4: .5em;
  --text-spacing-5: .625em;
  --text-spacing-6: .75em;
  --text-spacing-7: .875em;
  --text-spacing-8: 1em;
  --text-spacing-9: 1.25em;
  --text-spacing-10: 1.5em;
  --text-spacing-11: 1.75em;
  --text-spacing-12: 2em;
}
